@import "a_variables.scss";
@import "_header.scss";
@import "_newsletter.scss";
@import "_name.scss";
@import "_index.scss";
@import "_about.scss";
@import "_contact.scss";

html{
	font-size: 14px;
}
body {
	font-family: 'Open Sans', Arial sans-serif;
}

.montserrat {
	font-family: 'Montserrat', Arial, sans-serif;
}

a {
	@include ref;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Montserrat', Arial, sans-serif;
}

.h2-span {
	text-transform: uppercase;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		bottom: -2px;
		left: -3px;
		width: 70px;
		height: 20px;
		background-color: $green;
	}
}

.btn {
	font-family: 'Montserrat', Arial, sans-serif;
	padding: 10px 30px;
	text-transform: uppercase;
	@include btn;


	&--white {
		background-color: $white;
		color: $green;
		border: 1px solid $white;

		&:hover {
			background-color: $white;
			color: darken($green, 30%);
			border: 1px solid darken($green, 30%);

		}
	}
}

.nav-link-cat {
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: bold;
	line-height: 1;
	padding-left: 20px;
	padding-right: 20px;
	margin: 5px 0;
}

.text-extrabold {
	font-weight: 800;
}

input, textarea {
	&::placeholder {text-transform: uppercase; font-weight: bold; color: #ccc;}
	&:focus::placeholder {color: transparent}
}

textarea {
	resize: none;
}

.burger {
	&:focus {outline: none;}
}

.ios-icon {
	width: 13%;
}

.social-icon {
	font-size: 18px;
	margin: 0 7px;
	cursor: pointer;
	@include transition;

	&:hover {
		color: $green;
		@include transition;
	}
}

.breadcrumb {
	font-weight: 700;
}


